body, menu, ul {
    padding: 0;
    margin: 0;
}
menu ul {
    list-style: none;
    text-align: center;
    width: 450px;
    vertical-align: top;
    padding: 10px;
}
menu li {
    width: 100px;
    padding: 2px 0;
    text-align: center;
    border: 1px solid #888;
    background-color: #eeeeee;
    float: left;
    vertical-align: top;
}
menu li:hover {
    background-color: #ffffee;
}
